@font-face {
  font-family: 'DSEG7Classic';
  src: url('https://cdn.jsdelivr.net/gh/keshikan/DSEG@v0.35.3/ttf/DSEG7Classic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: 'Orbitron', monospace, sans-serif;
}

.timer {
  font-size: 8rem;
  user-select: none;
  font-family: 'Orbitron', monospace, sans-serif;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

button {
  background-color:black;
  color: black;
  border: none;
  padding: 15px 30px;
  font-size: 2.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Digital 7', monospace, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px; 
}

button:hover {
  background-color: #ddd;
}

